.app-container {
    display: flex;
    height: 100vh;
    background-color: var(--bg-primary);
}

.sidebar {
    width: 280px;
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-right: 1px solid #f0f0f0;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 50px;
    padding-left: 10px;
}

.logo-icon {
    width: 32px;
    height: 32px;
    background: var(--color-primary);
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-text-main);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary);
    border-radius: var(--radius-md);
    transition: all 0.2s;
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: rgba(67, 24, 255, 0.05);
    /* very light primary */
    color: var(--color-primary);
}

.sidebar-item.active {
    background-color: var(--color-primary);
    color: white;
    box-shadow: 0px 10px 20px rgba(67, 24, 255, 0.2);
}

.sidebar-item.active svg {
    color: white;
    /* Force icon white */
}

.nav-footer {
    margin-top: auto;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top-bar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    /* background: rgba(255,255,255,0.5); 
     backdrop-filter: blur(10px); */
}

.page-title {
    font-size: 28px;
    /* Big headers */
    font-weight: 700;
    color: var(--color-text-main);
}

.content-scrollable {
    flex: 1;
    overflow-y: auto;
    padding: 0 40px 40px 40px;
}